@using AECPrototype.ViewModel;
@model RegisterViewModel;
@{
    ViewData["Title"] = "CreateUser";
	var roleOptions = new List<SelectListItem>
	{
		new SelectListItem { Value = "", Text = "Role" },
		new SelectListItem { Value = "Farmer", Text = "Farmer" },
		new SelectListItem { Value = "Employee", Text = "Employee" }
	};
}

<div class="page-wrapper">
    <div class="page-content">

		<div class="page-header">
			<h1>Create a New User</h1>
			<p>Please enter in the user's personal details to create an account for them.</p>
		</div>
		
			<form asp-controller="User" asp-action="Create" method="post">
			<div class="input-form">

				<div class="input-container">
					<div class="input-box">
						<input asp-for="FirstName" type="text" autocomplete="off" placeholder="" />
						<label asp-for="FirstName">First Name</label>
						<span asp-validation-for="FirstName" class="text-danger"></span>
					</div>

					<div class="input-box">
						<input asp-for="LastName" type="text" autocomplete="off" placeholder="" />
						<label asp-for="LastName">Last Name</label>
						<span asp-validation-for="LastName" class="text-danger"></span>
					</div>
				</div>

				<div class="input-container">
					<div class="input-box">
						<input asp-for="Email" type="email" autocomplete="off"  placeholder=""/>
						<label asp-for="Email">Email</label>
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>

					<div class="input-box">
						<select asp-for="Role" asp-items="roleOptions" class="styled-select">
						</select>
						<span asp-validation-for="Role" class="text-danger"></span>
					</div>

				</div>

				<div class="input-container">
					<div class="input-box">
						<input asp-for="Password" type="password" autocomplete="off" placeholder="" />
						<label asp-for="Password">Password</label>
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div class="input-box">
						<input asp-for="ConfirmPassword" type="password" autocomplete="off" placeholder="" />
						<label asp-for="ConfirmPassword">Confirm Password</label>
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
				</div>

				@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
				{
					<div class="alert alert-success">@ViewBag.SuccessMessage</div>
				}
				<button class="large-btn" type="submit">Create New User</button>
			</div>
			</form>
		
    </div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}