@using AECPrototype.ViewModel;
@model LoginViewModel;
@section Styles {
	<link rel="stylesheet" href="~/css/login-style.css" asp-append-version="true" />
}
@{
	TempData["Title"] = "Login";
}

<div class="page-wrapper">
	<div class="page-content">

		<div class="page-header">
			<h1>Login to your Account</h1>
			<p>Please Login with your account details that were given to you!</p>
		</div>

		<form asp-controller="User" asp-action="Login" method="post">

			<div class="input-form">
				<ion-icon name="person-outline"></ion-icon>

				<div class="input-box">
					<ion-icon name="mail"></ion-icon>
					<input asp-for="Email" type="email" autocomplete="off" placeholder="">
					<label asp-for="Email">Email</label>
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="input-box">
					<ion-icon name="lock-closed"></ion-icon>
					<input asp-for="Password" type="password" autocomplete="off" placeholder="">
					<label asp-for="Password">Password</label>
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="input-box-remember">
					<input asp-for="RememberMe" type="checkbox" />
					<label asp-for="RememberMe">Remember me</label>
				</div>
				
				<button class="large-btn" type="submit">Login</button>

				@if (!string.IsNullOrEmpty(ViewBag.FailedMessage))
				{
					<div class="alert alert-fail">@ViewBag.FailedMessage</div>
				}
			</div>

		</form>

	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}