@{
	TempData["Title"] = "Profile";
}

<div class="page-wrapper">
	<div class="page-content">

		<div class="page-header">
			<h1>Account Details</h1>
			<p>These are all your personal account details.</p>
			<p>If you wish to make any changes, click on the edit icon next to the section you wish to change.</p>
		</div>

		<div class="account-details">

		</div>

	</div>
</div>