@using AECPrototype.ViewModel;
@model UserViewModel;
@{
	TempData["Title"] = "Profile";
}

<div class="page-wrapper">
	<div class="page-content">

		<div class="page-header">
			<h1>Account Details</h1>
			<p>These are all your personal account details.</p>

		</div>

		<div class="page-info">
			@if (Model != null)
			{
				<div class="account-details">
					<p>First Name: @Model.FirstName</p>
					<p>Last Name: @Model.LastName</p>
					<p>Email: @Model.Email</p>
					<p>Role: @Model.Role</p>
				</div>
			}
		</div>

	</div>
</div>