@{
	ViewData["Title"] = "Unauthorized Access";
}

<div class="page-wrapper">
	<div class="page-content">
		<div class="page-header access-denied">
			<h1>Unauthorized Access</h1>
			<p>You are not authorized to use this page or perform this action.</p>
		</div>
	</div>
</div>