@{
	ViewData["Title"] = "Home Page";
}

<div class="page-wrapper">
	<div class="page-content">

		<div class="home-header">
			<h1>Agri Energy Connect</h1>
			<p>Welcome to Agri Energy Connect! This is a prototype web application of AEC. </p>
			<p>Use the navigation menu on the left to explore other pages!. </p>
		</div>

		@if (!ViewBag.IsSignedIn)
		{
			<div class="page-info">
				<p>To navigate any further please Login, and if you have any problems please contact us!</p>
			</div>
		}
		<div class="box-container">
			<div class="box">
				<h2>Market place</h2>
				<p>Explore the market place full of green energy solutions tailored to your agricultural needs!</p>
				<i class='bx bx-cart'></i>
			</div>
			<div class="box">
				<h2>Products</h2>
				<p>Add your products to your profile, where you can categorize, edit & view them all!</p>
				<i class='bx bx-plus'></i>
			</div>
			<div class="box">
				<h2>Forums</h2>
				<p>Connect, share & seek advice for sustainable practices with other farmers on our forums!</p>
				<i class='bx bx-message-rounded-dots'></i>
			</div>
			<div class="box">
				<h2>Feedback</h2>
				<p>Please share your feedback to help us improve your experience!</p>
				<i class='bx bx-right-top-arrow-circle'></i>
			</div>
		</div>

	</div>
</div>