@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* #region Main */

:root {
    --first-color: rgba(17, 39, 12, 0.60);
    --second-color: rgba(150, 220, 137, 0.50);
    --third-color: rgba(0, 0, 0, 0.8);
    --box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.6);
    --button-shadow: 0px 0px 15px 2px rgba(0,0,0,0.6);
    --button-hover-shadow: 0px 0px 15px 4px rgba(0,0,0,0.8);
    --text-color: #000;
    --header-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #endregion */

/* #region Body */

/*    Image Source: Freepik*/
/*    https://www.freepik.com/free-ai-image/representation-ecology-sustainability_396964087.htm#fromView=search&page=1&position=19&uuid=bcdda419-5bd9-47dd-8e16-5bc8d749bb33&query=green+energy*/

/*    Adobe Stock */
/*    https://stock.adobe.com/za/search?k=green+energy&search_type=recentsearch&asset_id=577984639*/

body {
    min-height: 100vh;
    background: url('../Images/GreenEnergy3.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px 280px 50px 280px;
    overflow-y: auto;
    background-attachment: fixed;
}

/* #endregion */

/* #region Page */

.page-btn {
    margin-top: 20px;
    height: fit-content;
    width: 250px;
    font-size: 24px;
    font-weight: 400;
    color: var(--header-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    box-shadow: var(--button-shadow);
    transition: .3s;
}

    .page-btn:hover {
        box-shadow: var(--button-hover-shadow);
    }

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    position: relative;
    padding: 10px;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - (10px * 8));
    max-width: 1440px;
    justify-content: stretch;
}

.page-header {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    color: var(--header-color);
    border-radius: 10px;
    background: var(--first-color);
    border: 2px solid rgba(255, 255, 255, .4);
    backdrop-filter: blur(50px);
    box-shadow: var(--box-shadow);
}

    .page-header h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 40px
    }

    .page-header p {
        font-size: 16px;
        flex-wrap: wrap;
        text-align: center;
        width: 80%;
    }

.page-info {
    margin-top: 35px;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    background: var(--second-color);
    border: 2px solid rgba(255, 255, 255, .4);
    backdrop-filter: blur(50px);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
}

    .page-info p {
        font-size: 16px;
        font-weight: 500;
        color: var(--text-color);
    }

.box-container {
    margin-top: 50px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

    .box-container .box {
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, .4);
        transition: .4s;
        background: var(--second-color);
        backdrop-filter: blur(50px);
        box-shadow: var(--button-shadow);
    }

        .box-container .box:hover {
            box-shadow: var(--button-hover-shadow);
        }

        .box-container .box h2 {
            font-size: 24px;
            margin-bottom: 10px;
            margin-right: 10px;
            font-weight: 600;
        }

        .box-container .box p {
            font-size: 16px;
            overflow-wrap: break-word;
            word-break: break-word;
        }

        .box-container .box i {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 25px;
            font-size: 40px;
            white-space: nowrap;
        }



/* #endregion */

/* #region Side Bar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .5s;
}

    .sidebar.active {
        width: 260px;
    }

    .sidebar .logo-menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
    }

        .sidebar .logo-menu .logo {
            font-size: 25px;
            color: #fff;
            pointer-events: none;
            opacity: 0;
            transition: .3s;
        }

    .sidebar.active .logo-menu .logo {
        opacity: 1;
        transition-delay: .2s;
    }

    .sidebar .logo-menu .toggle-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #fff;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        transition: .5s;
    }

    .sidebar.active .logo-menu .toggle-btn {
        left: 90%;
    }

.siderbar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    line-height: 50px;
}

    .list .list-item a {
        display: flex;
        align-items: center;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        border-radius: 6px;
        white-space: nowrap;
        transition: .5s;
    }

        .list .list-item.active a,
        .list .list-item a:hover {
            background: rgba(255, 255, 255, .2);
        }

        .list .list-item a i {
            min-width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}

/* #endregion */

/* #region Input Form */

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    align-items: center;
    margin: 5px;
}

.input-form {
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 40px;
    margin-top: 35px;
    background: var(--second-color);
    backdrop-filter: blur(50px);
    box-shadow: var(--box-shadow);
}

    .input-form ion-icon {
        --ionicon-stroke-width: 16px;
        font-size: 200px;
        margin-bottom: 50px;
    }

.input-box {
    position: relative;
    width: 350px;
    height: 50px;
    border-bottom: 2px solid #000;
    margin-bottom: 35px;
    margin: 20px;
    padding: 5px;
    color: var(--text-color);
}

    .input-box label {
        position: absolute;
        left: 5px;
        top: 40%;
        font-size: 18px;
        font-weight: 500;
        pointer-events: none;
        transform: translateY(-50%);
        transition: .5s;
    }

    .input-box input {
        width: 100%;
        height: 40px;
        font-size: 18px;
        background: transparent;
        color: var(--text-color);
        border: none;
        outline: none;
    }

        .input-box input:focus ~ label,
        .input-box input:not(:placeholder-shown) ~ label {
            top: -5px;
        }

.input-form .large-btn {
    align-self: center;
    justify-self:center;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--header-color);
    align-items: center;
    border-radius: 10px;
    background: var(--third-color);
    border: none;
    box-shadow: var(--button-shadow);
    transition: .3s;
    cursor: pointer;
    margin-top: 35px;
}

    .input-form .large-btn:hover {
        box-shadow: var(--button-hover-shadow);
    }

.input-form .input-box .text-danger {
    color: #fff;
    align-self: start;
    justify-self: start;
    margin-top: 15px;
    display: block;
}

.input-form .text-danger {
    color: #fff;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    display: block;
}

/* #endregion */

/* #region Popup Box */

.popup-box {
    justify-self: center;
    align-self: center;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: var(--second-color);
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: var(--button-hover-shadow);
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}

    .popup-box ion-icon {
        --ionicon-stroke-width: 14px;
        font-size: 120px;
        margin-bottom: 15px;
    }

    .popup-box .btn-close {
        position: absolute;
        top: 10px;
        right: 10px;
        --ionicon-stroke-width: 18px;
        font-size: 40px;
        cursor: pointer;
        pointer-events: auto;
        transition: .1s;
    }

        .popup-box .btn-close:hover {
            transform: scale(1.25);
        }

        .popup-box .input-box {
            position: relative;
            width: 300px;
            height: 50px;
            color: var(--text-color);
            border-bottom: 2px solid rgb(0, 0, 0);
            margin-bottom: 30px;
            padding: 5px;
        }

        .popup-box .input-box label {
            position: absolute;
            left: 5px;
            top: 30%;
            color: var(--text-color);
            font-size: 18px;
            font-weight: 500;
            pointer-events: none;
            transform: translateY(-50%);
            transition: .5s;
        }

        .popup-box .input-box input {
            width: 100%;
            height: 40px;
            color: var(--text-color);
            font-size: 18px;
            background: transparent;
            border: none;
            outline: none;
        }

            .popup-box .input-box input:focus ~ label,
            .popup-box .input-box input:not(:placeholder-shown) {
                top: -5px;
            }

    .popup-box.active {
        opacity: 1;
        pointer-events: auto;
    }

.show-popup {
    margin-top: 20px;
    height: fit-content;
    width: 250px;
    font-size: 24px;
    font-weight: 400;
    color: var(--header-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--third-color);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    box-shadow: var(--button-shadow);
    transition: .3s;
}

    .show-popup:hover {
        box-shadow: var(--button-hover-shadow);
    }

.popup-box .large-btn {
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--header-color);
    align-items: center;
    border-radius: 10px;
    background: var(--third-color);
    border: none;
    box-shadow: var(--button-shadow);
    transition: .3s;
    cursor: pointer;
    margin-top: 35px;
}

    .popup-box .large-btn:hover {
        box-shadow: var(--button-hover-shadow);
    }

    .popup-box .input-box .text-danger {
    color: #fff;
    align-self: center;
    display: block;
    margin-top: 10px;
}

/* #endregion */

